html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.neonBlue {
  background-color: #1F51FF;
  color: #fff;
}

.neonBlue header, span#date {
  color: #000;
}

.neonBlue footer span, .neonBlue footer a {
  color: #fff !important;
}