@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<header class="row">
    <img class="col-4 my-4 img-fluid  rounded-circle" src="@Url.Content("~/images/me.jpeg")" alt="Me" />
    <div class="col-8 my-auto">
        <h1>@ViewData["Title"]</h1>
        <h3>Hi there 👋, I'm Rasmus Fogelberg</h3>
    </div>
</header>

<p>
    Chances are you've landed on this page because you are either a teacher, a fellow student or a spy. If you happen to
    be a spy, please know that the extensive monitor equipment in my basement is <em>really</em> not what it looks like.
</p>

<p>
    Now, it's all the more likely that you in fact are a teacher or fellow student - which means you probably already
    know who I am at this point. Should this not be the case however, you can get to know me a bit more by reading on
    down below.
</p>

<p>
    I'm a 33 year old developer from Kristianstad, Sweden. I live in an apartment together with my girlfriend and our
    cat
    – Darth Chilius 🐈. I'm currently studying to become a web developer, which means learning new technologies and
    creating websites much like this one. To manage studying I flip burgers during weekends at a burger joint in town
    called Shady Burgers.
</p>

<p>
    When I'm not studying or working, I spend most of my time either playing video games or enjoying a movie on the
    couch.
    I occasionally go to the gym and lift some weights, I also used to run quite a bit and am hoping to get back into
    it.
</p>