@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-left">
    <h1 class="display-4">Welcome!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, vero? Temporibus nisi aut qui aperiam
        inventore suscipit amet, eius sequi obcaecati neque ut, facilis optio porro hic, at dicta minus?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quam odio maxime dolorem unde culpa accusamus
        obcaecati eius, vero sunt exercitationem consequuntur, eveniet quidem! Rem rerum incidunt quidem perspiciatis
        temporibus.</p>
</div>
